Skip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
  Sign out
1
0 1 MuhammedKhamis/HttpServerClient Private
 Code  Issues 0  Pull requests 1  Projects 0  Wiki  Insights
HttpServerClient/.gitignore
17d25b3  2 hours ago
 MuhammedKhamis Updating gitignore
 
    
Executable File  45 lines (37 sloc)  429 Bytes
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake Files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
core
